node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# generated native folders
/ios
/android


# scratch cluster created by check:seeds-rls (removed on a clean run)
.seeds-rls-pgdata/

# scratch cluster created by check:share-visibility (removed on a clean run)
.share-visibility-pgdata/
